= semantic_form_for [:admin, @vehicle], :html => { :multipart => true} do |f|
    = f.inputs do
        = f.input :vehicle_type, :input_html => { :class => 'input-small vehicle-type-typeahead vehicle-type-input', :autocomplete => "off" } 
        = f.input :vehicle_owner, :input_html => { :class => 'input-small vehicle-owner-typeahead vehicle-owner-input', :autocomplete => "off" } 
        = f.input :plate_number
        = f.input :pin_number
    = f.inputs "Vehicle Routes" do  
        = f.input :vehicle_routes, :as => :select, :blank => false, :input_html => { :class => 'chzn-select', :width => 'auto', "data-placeholder" => 'Click',
            :multiple => true }, :collection => VehicleRoute.all 
    = f.inputs "Vehicle Drivers" do  
        = f.input :vehicle_drivers, :as => :select, :blank => false, :input_html => { :class => 'chzn-select', :width => 'auto', "data-placeholder" => 'Click',
            :multiple => true }, :collection => VehicleDriver.all
    = f.actions
